.ctxm {
  position: fixed;
  z-index: 999;
  background: var(--surf2);
  border: 1px solid var(--bdr2);
  border-radius: 7px;
  padding: 4px;
  min-width: 168px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, .5);
  display: none;
}

.ctxm.open {
  display: block;
}

.citem {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 6px 10px;
  font-size: 12px;
  color: var(--tx2);
  cursor: pointer;
  border-radius: 4px;
  transition: all .1s;
}

.citem:hover {
  background: var(--surf3);
  color: var(--tx);
}

.citem.danger:hover {
  background: rgba(224, 82, 82, .12);
  color: var(--err);
}

.citem .ci {
  font-size: 12px;
  width: 16px;
  text-align: center;
  flex-shrink: 0;
}

.csep {
  height: 1px;
  background: var(--bdr);
  margin: 3px 0;
}
